html {
  font-size: 14px;
  .divider {
    color: rgba(0, 0, 0, 0.87);
  }
  .list {
    .list__tile {
      font-size: 1rem;
    }
  }
  .v-text-field {
    padding-top: 0rem;
    margin-top: 0rem;
  }
  .input-group {
    label {
      font-size: 1rem;
    }
    .chip--select-multi {
      height: 2rem;
    }
  }
  .label--title {
    font-size: 0.75rem;
    color: rgba(0, 0, 0, 0.54);
  }
  .input-group--text-field {
    input,
    textarea {
      font-size: 1rem;
    }
    .input-group__prepend-icon,
    .input-group__append-icon {
      font-size: 1.3rem;
    }
  }
  .input-group--select {
    .input-group__selections__comma {
      font-size: 1rem;
      white-space: nowrap;
    }
  }
  .table__overflow {
    border: 1px solid rgba(0, 0, 0, 0.12);
  }
  .el-checkbox__inner:hover {
    border-color: #32c787;
  }
  .checkbox__inner,
  .el-checkbox__input.is-indeterminate .el-checkbox__inner {
    background-color: #32c787;
    border-color: #32c787;
  }
  .el-checkbox__input.is-checked .el-checkbox__inner {
    background-color: #32c787;
    border-color: #32c787;
  }
  .el-checkbox__inner {
    border: 1px solid #a19e9e;
  }
  table.v-table {
    tbody tr,
    thead {
      tr {
        height: 2.5rem;
      }
      th {
        background: #fbfbfb;
        color: #464a4c;
        font-weight: 600;
        font-size: 0.95rem;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 14.28rem;
      }
      td {
        height: 2.5rem;
      }
    }
  }
  .breadcrumbs {
    padding-left: 0rem;
    margin-left: 2.15rem;
  }
  .page-content {
    // padding: 1.42rem;
    background-color: #ffffff !important;
    // margin-left: 0.5rem;
    // margin-right: 0.5rem;
  }
  .card--table {
    padding: 1.2rem 1.2rem;
    .table-actions {
      margin-right: 2rem;
      .btn {
        margin: 6px 0 0;
        color: #707070;
        .icon {
          font-size: 1.5rem;
        }
      }
    }
  }
  .custom-tree-node {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    padding-right: 6px;
    line-height: 30px;
  }
  .custom-tree-node-title {
    width: calc(100% - 50px);
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 30px;
  }
  .custom-tree-node-menu {
    position: absolute;
    right: 0;
    width: 40px;
    line-height: 30px;
  }
  .navigation-drawer {
    background: inherit !important;
    overflow-y: hidden;
    padding-top: 1rem !important;
    &:hover {
      overflow-y: auto;
    }
    &::-webkit-scrollbar {
      background: transparent;
      width: 4px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #bdbdbd;
    }
    &.navigation-drawer--is-mobile {
      background: #fff !important;
    }
    & > .list {
      width: 228px;
      .list__tile {
        font-size: 1rem;
        .list__tile__action {
          min-width: 2.3rem;
          .icon {
            font-size: 1.3rem;
          }
        }
      }
    }
    .navigation-drawer__border {
      display: none;
    }
  }
  .fc-toolbar.fc-header-toolbar {
    height: 250px;
  }
}
